h2{
    color: green;
    font-style: italic;
}

.success{
    color: green;
    background: lightgray;
    font-size: 15px;
    border-style: dotted;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.error{
    color: red;
    background: lightgray;
    font-size: 15px;
    border-style: dotted;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}